body {
    background: rgb(175, 207, 171); // тестовый коммент
    max-width: 80%;
    margin: 0 auto;

    #nearest-store {
        color: brown;
        font-size: 2rem;
    }
}

.component {
    background: chocolate;// тестовый коммент
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    &__title {
        color: darkslategray;
    }

    &__text {
        color: greenyellow;
        font-size: 1.2rem;
    }
}